<!DOCTYPE html>
<html lang="en">
<head>
    <title>Compras</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body class="container-fluid">
<div ng-app="app1" ng-controller="mainController as ctrl" style="margin:auto">
    <br>
    <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-justified">
            <li class={{option==1?'active':''}}><a ng-click="option = 1;">Productos</a></li>
            <li class={{option==2?'active':''}}><a ng-click="option = 2">Ir al Carrito de compra</a></li>
            <li class={{option==3?'active':''}}><a ng-click="option = 3">Ordenes</a></li>
        </ul>
    </nav>

    <div ng-show="option == 1">
        <label> Cliente: </label>
        <select ng-model="customerData" ng-options="data.name for data in ctrl.customerData"
                ng-change="" class="btn btn-default"></select>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div ng-repeat="product in ctrl.products">
                    <form ng-submit="ctrl.addProduct(customerData, product, quantity)">
                        <div class="clearfix visible-xs"></div>
                        <div class="col-md-3 col-md-offset-0">
                            <div class="thumbnail">
                                <img ng-src="{{product.pictureId}}" alt="{{product.name}}">
                                <div class="caption">
                                    <h3>{{product.name}}</h3>
                                    <h3>{{product.price | currency}}</h3>
                                    <p>{{product.description}}</p>
                                    <p>
                                        <input type="number" ng-model="quantity" min="1" value="1"
                                               placeholder="Cantidad">
                                        <input type="submit" id="submit" value="Añadir al carrito"/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </form>
        <br>
        <form ng-submit="ctrl.setAvailableProducts(selectedCustomerData, newList)">
            <label> Customer: </label>
            <select ng-model="selectedCustomerData" ng-options="data.name for data in ctrl.customerData"
                    ng-change="newList = selectedCustomerData.products.slice(0)" class="btn btn-default"></select>
            <div ng-show="selectedCustomerData != undefined" class="text-left">
                <br>
                <label>Select products for customer: {{selectedCustomerData.customer.name}}</label>
                <br>
                <div ng-repeat="product in ctrl.products" class="checkbox" style="margin:0 50px">
                    <input type="checkbox"
                           ng-model="value"
                           ng-click="value ? $parent.newList.push(product.id) : $parent.newList.splice($parent.newList.indexOf(product.id), 1)"
                           ng-checked="$parent.newList.indexOf(product.id) != -1">{{product.name}}<br>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>


    <div ng-show="option == 2">
        <br>
        Carrito de compra
        <br>
        <br>
        <form ng-submit="valid = ctrl.addOrder(newOrder,  total);orderCustomerData = '';newOrder = {};">
            <div ng-show="valid == false" class="bg-danger">
                Order data is not Valid. Customer must be valid and Total must
                not be 0
            </div>
            <div ng-show="valid == true" class="bg-success">
                Order data was Valid. Order Has been created in the database
            </div>
            <br>
            <div class="text-left form-group" ng-click="valid = undefined">
                <label style="width:150px"> Cliente:</label>
                <select ng-model="orderCustomerData" ng-options="data.name for data in ctrl.customerData"
                        ng-change="newOrder['orderDetail'] = []; newOrder['customerId'] = orderCustomerData.customer.customer_id; newOrder['exchange_rate'] = ctrl.lastExchangeRate"
                        class="btn btn-default">
                </select>
                <br>
                <br>
                <label style="width:150px">Dirección de entrega: </label>
                <input type="text" ng-model="newOrder['deliveryAddress']" class="btn btn-default">
                <br>
                <label style="width:150px"> Productos: </label>
                <input type="button" ng-click="newOrder['orderDetail'].push({productId: 0, quantity: 0})" value="+"
                       class="btn btn-default">
                <br>
                <br>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="bg-primary">Nombre</th>
                        <th class="bg-primary">Cantidad</th>
                        <th class="bg-primary">Opción</th>
                    </tr>
                    <tr ng-show="newOrder['orderDetail'].length == 0">
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="productsOrder in newOrder['orderDetail']">
                        <td><select ng-model="productsOrder['productId']"
                                    ng-options="productId as ctrl.getProductById(productId).name for productId in orderCustomerData.products"
                                    class="btn btn-default"></select>
                        </td>
                        <td>
                            <input type="number" ng-model="productsOrder['quantity']" class="btn btn-default" min="0">
                        </td>
                        <td><input type="button"
                                   ng-click="newOrder['orderDetail'].splice(newOrder['orderDetail'].indexOf(productsOrder), 1)"
                                   value="-" class="btn btn-default">
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                <label style="width:150px"> TOTAL: </label>
                        <span>{{total = ctrl.calculateTotal(newOrder['orderDetail']);
                                    currency == 'USD' ? total : total * ctrl.lastExchangeRate}}</span>
                <select ng-init="currency = 'USD'"
                        ng-model="currency"
                        ng-options="currency for currency in ['USD', 'EUR']"
                        class="btn btn-default"></select>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Add Order</button>
            </div>
        </form>
    </div>


    <div ng-show="option == 3">
        Ordenes realizadas
        <table class="table table-striped table-bordered">
            <tr>
                <th class="bg-primary">Fecha</th>
                <th class="bg-primary">Valor total</th>
                <th class="bg-primary">Cliente</th>
            </tr>
            <tr ng-repeat="order in ctr.orders">
                <td><select ng-model="productsOrder['productId']"
                            ng-options="productId as ctrl.getProductById(productId).name for productId in orderCustomerData.products"
                            class="btn btn-default"></select>
                </td>
                <td>
                    <input type="number" ng-model="productsOrder['quantity']" class="btn btn-default" min="0">
                </td>
                <td><input type="button"
                           ng-click="newOrder['orderDetail'].splice(newOrder['orderDetail'].indexOf(productsOrder), 1)"
                           value="-" class="btn btn-default">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>